<html xmlns:th="http://www.thymeleaf.org">
<!-- js+css -->
<div th:fragment="source">
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</div>

<!-- header -->
<div th:fragment="header">
    <!-- top -->
    <div class="soubg">
        <div class="sou">
    	<span class="s_city_b">
        	<span class="fl">Deliver to：</span>
            <span class="s_city">
            	<span id="s_city_title">Novascotia</span>
                <div class="s_city_bg">
                  <div class="s_city_t"></div>
                  <div class="s_city_c">
                    <h2>Please choose</h2>
                    <table border="0" class="c_tab" style="width:235px; margin-top:10px;" cellspacing="0" cellpadding="0">

                      <tr>
                        <th>H</th>
                        <td class="c_h"><span>Halifax</span></td>
                      </tr>

                    </table>
                  </div>
                </div>
            </span>
        </span>
            <span class="fr">

<!--            <span class="fl" th:if="${session.user == null}">你好，请<a href="/login.html" style="color:#ff4e00;">登录</a>&nbsp;<a href="/register" style="color:#ff4e00;">免费注册</a>&nbsp;&nbsp;</span>-->

                <span class="fl" th:if="${session.user == null}">Hello ,please<a href="/login" style="color:#ff4e00;">login</a>&nbsp;<a href="/register" style="color:#ff4e00;">Register</a>&nbsp;&nbsp;</span>
                <span class="fl" th:if="${session.user != null}"><a href="/user/userInfo" >Welcome back<span th:text="${session.user.userName}"></span></a>&nbsp;|&nbsp;<a href="/user/orderList">My order</a>&nbsp;</span>
                <span class="fl" th:if="${session.user != null}">|&nbsp;<a href="/user/logout">logout</a></span>

        </span>
        </div>
    </div>
    <div id="fade1" class="black_overlay"></div>
    <div id="MyDiv1" class="white_content">
        <div class="white_d">
            <div class="notice_t">
                <span class="fr" style="margin-top:10px; cursor:pointer;" onclick="CloseDiv_1('MyDiv1','fade1')"><img src="/images/close.gif" /></span>
            </div>
            <div class="notice_c">
                <table border="0" align="center" cellspacing="0" cellpadding="0">
                    <tr valign="top">
                        <td width="40"><img src="/images/suc.png"></td>
                        <td>
                            <span style="color:#3e3e3e; font-size:18px; font-weight:bold;" id="showMessage">Success</span><br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- top -->

    <!-- search -->
    <div class="top">
        <div class="logo">
            <a href="/productCategory/main"><img src="/images/logo.png" style="width: 230px;border:0px solid red;"></a>
        </div>
        <div class="search">
            <form action="/product/search" method="post">
                <input type="text" name="keyWord" class="s_ipt">
                <input type="submit" value="搜索" class="s_btn">
            </form>
        </div>
        <div class="i_car">
            <a href="/cart/findAllCart">
                <div class="car_t">

<!--                    购物车 [-->
<!--                    <span th:text="${cartList.size()}"></span>-->
<!--                    ]-->

                    Cart [
                    <span th:text="${cartList.size()}"></span>
                    ]
                </div>
            </a>

            <div class="car_bg">
                <div class="un_login">My cart</div>
                <ul class="cars">

<!--                    <li th:each="cart:${cartList}">-->
<!--                        <div class="img"><a th:href="'/product/findById/'+${cart.productId}"><img th:src="'/images/'+${cart.fileName}" width="58" height="58" /></a></div>-->
<!--                        <div class="name"><a th:href="'/product/findById/'+${cart.productId}" th:text="${cart.name}"></a></div>-->
<!--                        <div class="price"><font color="#ff4e00" th:text="'￥'+${cart.price}"></font> X <span class="quantity" th:text="${cart.quantity}"></span>  =  <span class="cost" th:text="${cart.cost}"></span></div>-->
<!--                    </li>-->

                    <li th:each="cart:${cartList}">
                        <div class="img"><a><img th:src="'/images/'+${cart.fileName}" width="58" height="58" /></a></div>
                        <div class="name"><a th:text="${cart.name}"></a></div>
                        <div class="price"><font color="#ff4e00" th:text="'￥'+${cart.price}"></font> X <span class="quantity" th:text="${cart.quantity}"></span>  =  <span class="cost" th:text="${cart.cost}"></span></div>
                    </li>
                </ul>
                <div class="price_sum">Total&nbsp;<span id="totalCost"></span></div>
                <div class="price_a"><a href="/cart/get">checkout</a></div>
            </div>

        </div>
    </div>
    <!-- search -->
    <script type="text/javascript">
        $(function(){
            //totalCost in cart
            var array = $(".cost");
            var totalCost = 0;
            for(var i = 0;i < array.length;i++){
                var val = parseInt($(".cost").eq(i).html());
                totalCost += val;
            }
            $("#totalCost").html("￥"+totalCost);
        });
    </script>
</div>

<!-- product category -->
<div th:fragment="category">
    <div class="menu_bg">
        <div class="menu">
            <div class="nav">
                <div class="nav_t">Category</div>
                <div class="leftNav">
                    <ul>
<!--                        <li th:each="levelOne:${list}">-->
<!--                            <div class="fj">-->
<!--                                <span class="n_img"></span> <span class="fl" th:text="${levelOne.name}"></span>-->
<!--                            </div>-->
<!--                            <div class="zj">-->
<!--                                <div class="zj_l">-->
<!--                                    <div class="zj_l_c" th:each="levelTwo:${levelOne.children}">-->
<!--                                        <h2>-->
<!--                                            <a th:href="'/product/list/two/'+${levelTwo.id}" th:text="${levelTwo.name}"></a>-->
<!--                                        </h2>-->
<!--                                        <a th:href="'/product/list/three/'+${levelThree.id}" th:each="levelThree:${levelTwo.children}" th:text="${levelThree.name}"></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->

                        <li th:each="levelOne:${list}">
                            <div class="fj">
                                <span class="n_img"></span> <span class="fl" th:text="${levelOne.name}"></span>
                            </div>
                            <div class="zj">
                                <div class="zj_l">
                                    <div class="zj_l_c" th:each="levelTwo:${levelOne.children}">
                                        <h2>
                                            <a th:href="'/product/list/2/'+${levelTwo.id}" th:text="${levelTwo.name}"></a>
                                        </h2>
                                        <a th:each="levelThree:${levelTwo.children}" th:href="'/product/list/3/'+${levelThree.id}" th:text="${levelThree.name}"></a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <ul class="menu_r">
                <li><a href="/productCategory/list">Main</a></li>
<!--                <li th:each="productCategory:${list}">-->
<!--                    <a th:href="'/product/list/one/'+${productCategory.id}" th:text="${productCategory.name}"></a>-->
<!--                </li>-->

                <li th:each="levelOne:${list}">
                    <a th:href="'/product/list/1/'+${levelOne.id}" th:text="${levelOne.name}"></a>
                </li>

            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            //productcategory
            $(".leftNav ul li").hover(
                function(){
                    $(this).find(".fj").addClass("nuw");
                    $(this).find(".zj").show();
                }
                ,
                function(){
                    $(this).find(".fj").removeClass("nuw");
                    $(this).find(".zj").hide();
                }
            )
        });
    </script>
</div>

